/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-image: url(/imagen/Imagenes_profe/fondo.jpg);
    background-size: cover;
    background: center;
    background-repeat: no-repeat;
}
.hero {
    background-color: #e6d4c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    width: 100%; 
    height: 400px; 
}
.hero h1 {
    font-size: 3.5em;
}
.hero p {
    font-size: 1.2em;
    margin-top: 10px;
}
.bold {
    font-weight: bold;
}
.hero-img {
    height: 100px;
}
.hero-img-grande {
    width: 250px;
    height: auto;
}

/* PRODUCTOS */
.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.producto {
    display: flex;/* RESET */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    body {
        background-color: #f4f4f4;
        color: #333;
    }
    
    /* HERO GRANDE */
    .hero {
        background-color: #e6d4c3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 80px;
        width: 100%; 
        height: 400px; 
    }
    .hero h1 {
        font-size: 3.5em;
    }
    .hero p {
        font-size: 1.2em;
        margin-top: 10px;
    }
    .bold {
        font-weight: bold;
    }
    .hero-img {
        height: 100px;
    }
    .hero-img-grande {
        width: 250px;
        height: auto;
    }
    
    /* PRODUCTOS */
    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .producto {
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: white;
        padding: 30px;
        width: 80%;
        margin-bottom: 25px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
    .producto img {
        border-radius: 10px;
    }
    .img-grande {
        width: 300px;
        height: auto;
    }
    
    /* FOOTER */
    footer {
        background-color: #a05a2c;
        color: white;
        text-align: center;
        padding: 20px 0;
        margin-top: 40px;
        font-size: 1.5em;
    }
    
    align-items: center;
    gap: 30px;
    background-color: white;
    padding: 30px;
    width: 80%;
    margin-bottom: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.producto img {
    border-radius: 10px;
}
.img-grande {
    width: 300px;
    height: auto;
}

/* FOOTER */
footer {
    background-color: #a05a2c;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 1.5em;
}
